.About {
  display: grid;
  row-gap: 5px;

}
.About > h1 {
  grid-column: 1/2;
  padding: 1.5rem;
  margin: 0;
  background-color: white;
}
.aboutSection {
  display: flex;
  background-color: white;
}

.aboutSection div {
  padding: .5rem 1rem;

}

.aboutSection img {
  max-width: 100%;
}

@media (max-width: 1020px) {
  .About {
    display: flex;
    flex-direction: column;
  }
  .aboutSection {
    flex-direction: column;
  }
}
