.App {
  text-align: center;
}

html, body {
  color: black;
  font-size:30px;
  margin: auto;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background: linear-gradient(to top left, lightskyblue, lightblue);
  background-attachment: fixed;
}

::-webkit-scrollbar {
  display: none;
}
