.App {
  position: sticky;
  text-align: center;
  background: linear-gradient(
    white,
    90%,
    #3c9cab
  );
  min-height: 100vh;
  max-width: 100%;
  background-attachment: fixed;
}
/* 
  base #277a88
  dark #1e5e6a
  light #3c9cab
*/
html,
body {
  color: black;
  font-size: 1.3rem;
  margin: auto;
  height: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 100%;
}

#root {
  max-width: 100% !important;
  overflow-x: hidden;
}
button {
  background:transparent;
  border: 0;
}

button:hover {
  transition: .1s ease-in;
  color: #3c9cab;
  transform: scale(1.15);
}

::-webkit-scrollbar {
  display: none;
}

 img {
  height: auto;
  display: block;
  max-width: 100%;
 }

ul {
  list-style-type: none;
  padding: 0;
}

 @media (max-width: 1020px) {
  button:hover {
    transform: scale(1);
  }
}
