.Contact {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 80vh;
  justify-content: space-between;
}

.Contact > :first-child {
  padding: 0 10rem;
}

.Contact h2 {
  grid-column: 1/3;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

.contactSubsection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.contactSubsection > :nth-child(3),
.contactSubsection > :nth-child(2) {
  padding: 0 1rem 1rem 1rem;
}
.contactSubsection > :last-child {
  font-size: 2vh;
  padding: 1rem;
  grid-column: 1/3;
}

.apptBtn {
  grid-column: 1/3;
  background-color: #3c9cab33;
  border: 1px solid #3c9cab;
  padding: 12px 15px;
  margin: auto;
  font-size: larger;
  border-radius: 5px;
}

.apptNote {
  bottom: 2rem;
  padding: 0 4rem;
  font-size: smaller;
}

@media (max-width: 1020px) {
  .Contact {
    display: flex;
    flex-direction: column;
  }
  .Contact > :first-child {
    padding: 0px 1rem;
  }
  .contactSubsection > h2 {
    font-size: 1.8rem;
  }
  .contactSubsection {
    display: flex;
    flex-direction: column;
  }
}
