.Home {
  display: flex;
  flex-direction: column;
  padding: 0px 3rem;
  font-size: inherit;
  box-sizing: border-box;
}

.Home img {
  max-height: 50vh;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: transparent;
  border-bottom: 2px solid #1e5e6a;
  box-sizing: border-box;
  align-items: center;
  animation: 
    loadQuote 1s ease-in 1s forwards, 
    shrink 2s ease-out 4s forwards;
  opacity: 0;
  padding: 20vh 0;
}

.headerQuote {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2/4;
  font-size: larger;
}

@keyframes loadQuote {
  to {
    opacity: 1;
  }
}

@keyframes shrink{
  to {
    padding: 15vh 0;
  }
}

@media (max-width: 1020px) {
  .Home {
    padding: 2vh;
    padding-bottom: 8vh;
  }
 .header {
  display: flex;
  flex-direction: column;
  padding: 15vh 0;
 }
 @keyframes shrink{
  to {
    padding: 1vh 0;
  }
}
}