.Resources {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 90%;
    margin: auto;
}

.resourceList h2 {
    border-bottom: 1px solid black;
} 

.resourceList li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}


@media (max-width: 1020px) {
    .Navbar{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: smaller;
    }
    .resourceBio {
        padding:.5rem;
    }
  }